{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="w-50">
            <h1 class="text-center mb-4">Please sign in</h1>

            <div class="card shadow p-4">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}

                    {% if app.user %}
                        <div class="mb-3 text-center">
                            You are logged in as <strong>{{ app.user.userIdentifier }}</strong>, 
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-lg btn-primary w-100 mt-3" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}